<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="SQLConn" value="Persist Security Info=True;Pooling=false;User ID=WebFUser;Password=Telkom900;Initial Catalog=WF1ActR;Data Source=10.227.167.243,1441;Packet Size=4096;Workstation ID=10.227.230.234;Connect Timeout=40" />
    </appSettings>
</configuration>